# Dependencies
node_modules/
.pnp
.pnp.js

# Production build output
dist/
build/
out/

# Environment Variables (Keep your API keys safe!)
.env
.env.local
.env.development
.env.test
.env.production
*.local
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Testing
coverage/

# Caches
.npm
.eslintcache
.stylelintcache
tsconfig.tsbuildinfo

# OS and Editor files
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
qio-project-firebase-adminsdk-*.json
